
#top_div {
    width: 400px;
    height: 200px;
    position: fixed;
    bottom: 25px;
    right: 10px;
    border-style: solid;
    border-width: 18px;
    border-color: #000066;
    border-radius: 20px;
    -moz-border-radius: 20px;
}

#census_title {
    text-align: center;
    margin: 0;
    color: #000066;
}

#minimizer {
    margin: 20px;
    float: right;
    width: 20px;
    height: 20px;
}

#click_me {
    margin: 20px;
    float: left;
    font-size: 1.25em;
}

.name {
    font-size: 2em;
    text-align: center;
    color: #000066;
}

.table_name {
    font-size: 1.5em;
    color: #000066;
}

#graph_table {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 18px;
    border-color: #000066;
    border-radius: 20px;
    -moz-border-radius: 20px;
}
