#map_canvas {
    width: 800px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
}

#ward_name {
    font-size: 2em;
}

.table_div {
    float: left;
}

p {
    padding: 0;
    margin: 0;
}
