#census_title {
    text-align: center;
    margin: 0;
    color: #000066;
    font-size: 2.5em;
}

#map_div {
    width: 400px;
    height: 300px;
    position: fixed;
    bottom: 30px;
    right: 10px;
    border-style: solid;
    border-width: 18px;
    border-color: #000066;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background-color: #FFFFFF;
    z-index: 10;
}

#map_canvas {
    height: 80%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #000066;
}

#which_ward_div {
    height: 20%;
}

#instructions {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

#minimizer {
    position: fixed;
    bottom: 5px;
    right: 20px;
    width: 20px;
    height: 20px;
}

.name {
    font-size: 2em;
    text-align: center;
    color: #000066;
    width: 500px;
}

.table_name {
    font-size: 1.5em;
    color: #000066;
    text-align: center;
}

.row_name {
    font-size: 1.25em;
    color: #000066;
    text-align: center;
}

#graph_div {
    width: 1020px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 18px;
    border-color: #000066;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    z-index: 2;
}
ul#tab_list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
    margin-top: 20px;
    white-space: nowrap;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

ul#tab_list li {
    font-size: 24px;
    display: inline;
    border-style: solid;
    border-top-width: 6px;
    border-left-width: 6px;
    border-right-width: 6px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    margin: 0;
    padding: 0;
}

ul#tab_list li a {
    margin-left: 10px;
    margin-right: 10px;
}

ul#tab_list li span {
    margin-left: 10px;
    margin-right: 10px;
}

ul#tab_list li a:link {
    text-decoration: none;
}

.active_tab {
    color: #FFFFFF;
    background-color: #000066;
    border-color: #000066;
}

.inactive_tab {
    color: #CCCCCC;
    background-color: #000033;
    border-color: #000033;
}

.absolute_value {
    font-size: 2.5em;
    font-family: Verdana;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.ward1_absolute_value {
    text-align: right;
}

.ward2_absolute_value {
    text-align: left;
}

.row_div {
    width: 333px;
    padding: 0;
    margin: 0;
}

.table_div {
    padding: 0;
    margin: 0;
}

.table_cell {
    padding: 0;
    margin: 0;
}

.graph_table {
    width: 1010px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
    border-color: #000066;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.ward_names_table {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#loading_dialog {
    position: fixed;
    left: 45%;
    top: 50%;
    color: #FFFFFF;
    background-color: #000066;
    border-style: solid;
    border-width: 2px;
    border-color: #000066;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    font-size: 1.5em;
    padding: 10px;
    z-index: 4;
}
