<tr><th class="table_name" colspan=2><%= table.name %></th></tr>
<tr class="table_row">
    <td class="table_cell"><div class="table_div ward1_table_div" id="ward1_table_div_<%= table.id %>"></div></td>
    <td class="table_cell"><div class="table_div ward2_table_div" id="ward2_table_div_<%= table.id %>"></div></td>
</tr>
