<tr><th class="table_name" colspan=2><%= table.name %></th></tr>
<tr class="table_row">
    <td><div class="table_div" id="ottawa_table_div_<%= table.id %>"></div></td>
    <td><div class="table_div ward_table_div" id="ward_table_div_<%= table.id %>"></div></td>
</tr>
